{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "crystal",
          "elixir",
          "erlang",
          "markdown",
          "markup",
          "ruby",
          "rust",
          "sql",
          "toml"
        ],
        // themes can be found in this directory:
        // assets/node_modules/prismjs/themes
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
