/* This file is for your main application css. */
@import "./spectre.css";

body {
  font-family: "PT Serif", "Times", serif;
  max-width: 72em;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover, a:link, a:visited, a:active {
  color: #555;
  text-decoration: none;
}

.lead {
  font-style: italic;
  font-size: large;
}

.content {
  padding: 1em;
}

.title {
  color: #2f4f4f;
}

.sidebar {
  float: right;
  margin: 0.5em;  
}

.menu {
  padding: 0.7em;
}

.menu > ul {
  list-style: none;
}

.menu-label {
  color: #777;
  font-size: small;
  text-transform: uppercase;
}
