/* This file is for your main application css. */
$primary-color: #3f6f6f;

@import "../node_modules/spectre.css/src/spectre";

body {
  font-family: "PT Serif", "Times", serif;
  max-width: 72em;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

.lead {
  font-style: italic;
  font-size: large;
}

.content {
  padding: 1em;
}

.sidebar {
  float: right;
  margin: 0.7em;
}

.menu {
  padding: 0.7em;
}

.menu > .divider {
  font-variant: small-caps;
}
